<header>
    <span *ngIf="totalCount && totalCount > 0">
        Показано
        <strong>
            {{(pageNumber-1) * pageSize+1}} -
            {{pageNumber*pageSize
            > this.totalCount
            ? this.totalCount
            : pageNumber*pageSize
            }}
        </strong> из
        <strong>
            {{this.totalCount}}
        </strong>
        результатов
    </span>
    <span *ngIf="totalCount === 0">
        Найдено <strong>0</strong> товаров для данного фильтра
    </span>
</header>